body {
  background-image: url('../images/quitnowbk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#logo {
  width: 90px;
}
.my-nav {
  background-color: black;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;

}
.main h1 {
  color: white;

}
.main p  {
  color: white;
  max-width: 600px;

}

.list {
  margin-top: 10%;
}
.list ul li{
  color: white;
  font-style: italic;
  font-size: 15px;
}
.my-btn{
  background-color: #27892C;
  padding: 15px 30px;
  color: white;
  font-weight: bold;

  /* margin-top: 70%; */

}

.star {
  color: yellow;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 17px;
}

.navbar-default .navbar-brand {
  color: white;
}

.my-p {
  font-style: italic;
  font-size: 20px;

}

.vertical-align {
    display: flex;
    align-items: center;
    /* padding-bottom: 10%; */
  }

.h1,h1{
  font-size: 55px;
}
